<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav siempre fijo -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    mode="side"
    opened="true"
  >
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/products">Productos</a>

      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <a mat-list-item routerLink="/auth/login">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <a mat-list-item (click)="onLogout()">Logout</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Product Catalog</span>
    </mat-toolbar>

    <!-- Aquí se renderizan las rutas -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
